build
.gradle
bin
out
logs
scripts
target

# Eclipse
.classpath
.project
.settings

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

src/main/resources/BUILD-INFO
src/main/resources/version.properties

